.reset{
    margin-top: 50px;
    text-align: center;
}

.wrapper{
    display: grid;
    margin: 0 auto;
    margin-top: 100px;
    height: 750px;
    width: 750px;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 3px;
    grid-template-rows: repeat(16, 1fr);
}

.block{
    height: 1fr;
    width: 1fr;
    grid-column: 1fr;
    grid-row: 1fr;
}

